.black {
    background-color: #615243;
}
.darkgray {
    background-color: #40372f;
}

.lightgray {
    background-color: rgb(43, 40, 39);
}


.transparent {
    background-color: transparent;
}

.grayblue {
    background-color:  #a68160;
}